***
# DICTIONARIES
***

In [52]:
dict = {
    'profession': 'Systems engineer',
    'email': 'juasda96@gmail.com',
    'name': 'Juan David Arias',
    'id': '1214737294',
    'age': 21,    
}

In [11]:
dict.get('name')

'Juan David Arias'

In [14]:
'City' in dict.keys()

False

In [15]:
dict.keys()

dict_keys(['id', 'age', 'name', 'email', 'profession'])

In [18]:
dict.values()

dict_values(['1214737294', 21, 'Juan David Arias', 'juasda96@gmail.com', 'Systems engineer'])

In [16]:
dict.items()

dict_items([('id', '1214737294'), ('age', 21), ('name', 'Juan David Arias'), ('email', 'juasda96@gmail.com'), ('profession', 'Systems engineer')])

In [19]:
dict.pop('name')

'Juan David Arias'

In [20]:
dict.items()

dict_items([('id', '1214737294'), ('age', 21), ('email', 'juasda96@gmail.com'), ('profession', 'Systems engineer')])

***
# STRINGS
***

In [21]:
# Strings

string = 'Hello world, Im here for be awesome'

In [23]:
string.count('e')

6

In [24]:
string.find('Im')

13

In [34]:
('/').join(string)

'H/e/l/l/o/ /w/o/r/l/d/,/ /I/m/ /h/e/r/e/ /f/o/r/ /b/e/ /a/w/e/s/o/m/e'

In [39]:
string.join('/ /')

'/Hello world, Im here for be awesome Hello world, Im here for be awesome/'

In [40]:
string.partition('Im')

('Hello world, ', 'Im', ' here for be awesome')

In [41]:
string.replace('Hello', 'Hi')

'Hi world, Im here for be awesome'

In [50]:
string.split('Im')

['Hello world, ', ' here for be awesome']

***
# LISTS
***

In [85]:
my_list = ['Hello', 'World', 'Im', 'Here', 'To', 'Be', 'Awesome', 1000]

In [86]:
my_list.append(2000)
my_list

['Hello', 'World', 'Im', 'Here', 'To', 'Be', 'Awesome', 1000, 2000]

In [87]:
my_list.count('To')

1

In [88]:
my_list.extend([3000, 4000, 5000])
my_list

['Hello',
 'World',
 'Im',
 'Here',
 'To',
 'Be',
 'Awesome',
 1000,
 2000,
 3000,
 4000,
 5000]

In [89]:
my_list.index(1000)

7

In [90]:
my_list.insert(7, ';)')
my_list

['Hello',
 'World',
 'Im',
 'Here',
 'To',
 'Be',
 'Awesome',
 ';)',
 1000,
 2000,
 3000,
 4000,
 5000]

In [91]:
my_list.pop(-1)

5000

In [92]:
my_list.remove(';)')
my_list

['Hello', 'World', 'Im', 'Here', 'To', 'Be', 'Awesome', 1000, 2000, 3000, 4000]

In [93]:
my_list.reverse()
my_list

[4000, 3000, 2000, 1000, 'Awesome', 'Be', 'To', 'Here', 'Im', 'World', 'Hello']

In [96]:
my_list_1 = [100, 2, 56, 90]
my_list_1.sort()
my_list_1

[2, 56, 90, 100]

In [97]:
for index, value in enumerate(my_list):
    print('index {} ==> value {}'.format(index, value))

index 0 ==> value 4000
index 1 ==> value 3000
index 2 ==> value 2000
index 3 ==> value 1000
index 4 ==> value Awesome
index 5 ==> value Be
index 6 ==> value To
index 7 ==> value Here
index 8 ==> value Im
index 9 ==> value World
index 10 ==> value Hello